#first
{
    text-align: right;
}

.spa
{
    width: 20px;
    height:20px;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
}

#yellow
{
    background-color: yellow;
}

 #red
{
    background-color: red;   
}

#green
{
    background-color: green;
}

#black
{
    background-color: black;
}

